{% extends 'base.html.twig' %}

{% block title %}LinkElement index{% endblock %}

{% block body %}
    <h1>LinkElement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Link</th>
                <th>Text</th>
                <th>Category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for link_element in link_elements %}
            <tr>
                <td>{{ link_element.id }}</td>
                <td>{{ link_element.link }}</td>
                <td>{{ link_element.text }}</td>
                <td>{{ link_element.category }}</td>
                <td>
                    <a href="{{ path('app_link_element_show', {'id': link_element.id}) }}">show</a>
                    <a href="{{ path('app_link_element_edit', {'id': link_element.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_link_element_new') }}">Create new</a>
{% endblock %}
